@using Sitecore.Foundation.Assets
@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @RenderAssetsService.Current.RenderStyles()
    @Html.Sitecore().VisitorIdentification()
    <link href="~/styles/Custom/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/Custom/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/Custom/animate.min.css" rel="stylesheet" />
    <link href="~/styles/Custom/prettyPhoto.css" rel="stylesheet" />
    <link href="~/styles/Custom/main.css" rel="stylesheet" />
    <link href="~/styles/Custom/responsive.css" rel="stylesheet" />
    <link href="~/styles/theme/default.css" rel="stylesheet" />
    <link href="~/styles/Custom/main-custom.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/scripts/html5shiv.js"></script>
    <script src="~/scripts/respond.min.js"></script>

        <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico.png">

</head>
<body class="homepage @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">

    <header id="header">
        @Html.Sitecore().Placeholder("header-top")
        @Html.Sitecore().Placeholder("navbar")
    </header>
    <main role="main">
        @Html.Sitecore().Placeholder("page-layout")
    </main>
    <footer>
        @Html.Sitecore().Placeholder("footer")
        @Html.Sitecore().Placeholder("virtualassistance")
    </footer>
    @Html.Sitecore().Placeholder("page-sidebar")

    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)


    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.prettyPhoto.js"></script>
    <script src="~/scripts/jquery.isotope.min.js"></script>
    <script src="~/scripts/main.js"></script>
    <script src="~/scripts/wow.min.js"></script>


</body>
</html>
